<div class="section pp-scrollable slide slide-clients slide-dark">
  <div class="slide-container">
    <div class="lines">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5">
          <div class="animate-element delay5 fadeInUp">
            <div class="title-mini title-mini-margin-lg text-primary">my clients &amp; partners</div>
            <h3 class="slide-title font-custom">Clients and collaborators.</h3>
          </div>
          <div class="slide-descr animate-element delay7 fadeInUp">Over the past ten years, I've been fortunate to
            work with and for people from some <strong>amazing organizations</strong>.
          </div>

          <div class="client-list animate-element delay9 fadeInUp">
            <div class="client-item">
              <div class="client-item-value">1,142</div>
              <div class="client-item-detail">
                <div class="client-item-title">total clients</div>
                <div class="client-item-descr">In over 25 countries</div>
              </div>
            </div>
            <div class="client-item">
              <div class="client-item-value">87</div>
              <div class="client-item-detail">
                <div class="client-item-title">trusted sponsors</div>
                <div class="client-item-descr">Featured by top ranked brand</div>
              </div>
            </div>
            <div class="client-item">
              <div class="client-item-value">95%</div>
              <div class="client-item-detail">
                <div class="client-item-title">sensitve feedback</div>
                <div class="client-item-descr">At project quality</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
          <div class="slide-photo slide-photo-clients">
            <div class="image-card card8-1 animate-element delay11 fadeInUp">
              <div class="image-card-body">
                <div class="inside"><img src="./assets/img/card8-1.png" alt=""/></div>
              </div>
            </div>
            <div class="image-card card8-2 animate-element delay10 fadeInRight">
              <div class="image-card-body">
                <div class="inside"><img src="./assets/img/card8-2.png" alt=""/></div>
              </div>
            </div>
            <div class="image-card card8-3 animate-element delay8 fadeInLeft">
              <div class="image-card-body">
                <div class="inside"><img src="./assets/img/card8-3.png" alt=""/></div>
              </div>
            </div>
            <div class="image-card card8-4 animate-element delay9 fadeInUp">
              <div class="image-card-body">
                <div class="inside"><img src="./assets/img/card8-4.png" alt=""/></div>
              </div>
            </div>
            <div class="image-card card8-5 animate-element delay13 fadeInUp">
              <div class="image-card-body">
                <div class="inside"><img src="./assets/img/card8-5.png" alt=""/></div>
              </div>
            </div>
            <div class="image-card card8-6 animate-element delay12 fadeInLeft">
              <div class="image-card-body">
                <div class="inside"><img src="./assets/img/card8-6.png" alt=""/></div>
              </div>
            </div>
            <div class="image-card card8-7 animate-element delay14 fadeInRight">
              <div class="image-card-body">
                <div class="inside"><img src="./assets/img/card8-7.png" alt=""/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>