<div class="section pp-scrollable slide slide-services slide-dark slide-services a-slide-typed"
     data-name="services">
  <div class="slide-container">
    <div class="lines">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5">
          <div class="animate-element delay5 fadeInUp">
            <div class="title-mini text-primary">my services</div>
            <h2 class="slide-title font-custom"><span class="text-typed a-typed a-typed-services"
                                                      data-text="Build your brand"></span> and<br/> grow your
              business.</h2>
          </div>
          <div class="slide-descr animate-element delay7 fadeInUp">Whether you are working on a new startup or
            have an existing product, I'd love the opportunity to help you and your team <strong>solve your most
              challenging</strong> problems.
          </div>

          <nav class="service-list animate-element delay9 fadeInUp">
            <ul class="">
              <li class="primary-link"><a href="#">UX & UI Design</a></li>
              <li class="primary-link"><a href="#">Branding Design</a></li>
              <li class="primary-link"><a href="#">Mobile App Design</a></li>
              <li class="primary-link"><a href="#">Art & Illustration</a></li>
              <li class="primary-link"><a href="#">3D Modeling & Motion</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
          <div class="slide-photo slide-photo-services">
            <div class="inside"><img src="./assets/img/slide2.png" alt=""/></div>
            <div class="image-card card2-1 animate-element delay8 fadeInRight">
              <div class="image-card-body">
                <div class="inside"><img src="./assets/img/card2-1.png" alt=""/></div>
              </div>
            </div>
            <div class="image-card card2-2 animate-element delay9 fadeInUp">
              <div class="image-card-body">
                <div class="inside"><img src="./assets/img/card2-2.png" alt=""/></div>
              </div>
            </div>
            <div class="image-card card2-3 animate-element delay10 fadeInUp">
              <div class="image-card-body">
                <div class="inside"><img src="./assets/img/card2-3.png" alt=""/></div>
              </div>
            </div>
            <div class="image-card image-card-dark card2-4 animate-element delay11 fadeInRight">
              <div class="image-card-body">
                <div class="inside"><img src="./assets/img/card2-4.png" alt=""/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>