{{ define "main" }}
<body class="body-piling {{ .Site.Params.theme_data.style }}">
<script type="text/javascript" src="js/get-cdn-url.js"></script>
<div class="wrapper">
  <header id="header" class="header">
    <div class="container-fluid">
      <div class="brand">
        <a href="#About" class="brand-name">{{ .Site.Params.first_name }} <span class="brand-name-s">{{ .Site.Params.last_name }}</span></a>
      </div>

      <button class="nav-toggle-btn a-nav-toggle">
            <span class="hamburger">
              <span class="top-bun"></span>
              <span class="meat"></span>
              <span class="bottom-bun"></span>
            </span>
      </button>

      <div class="hide-menu a-nav-toggle"></div>

      <div class="menu">

        <div class="menu-main" id="accordion">
          <ul id="menuMain">
            <li data-menuanchor="About" class="active"><a href="#About">About</a></li>
<!--            <li data-menuanchor="Services"><a href="#Services">Services</a></li>-->
            <li data-menuanchor="Resume"><a href="#Resume">Resume</a></li>
            <li data-menuanchor="Portfolio"><a href="#Portfolio">Portfolio</a></li>
<!--            <li data-menuanchor="Awards"><a href="#Awards">Awards</a></li>-->
            <li data-menuanchor="Testimonials"><a href="#Testimonials">Testimonials</a></li>
<!--            <li data-menuanchor="Clients"><a href="#Clients">Clients</a></li>-->
<!--            <li data-menuanchor="Contact"><a href="#Contact">Contact</a></li>-->
          </ul>
        </div>

        <div class="menu-footer">
          <div class="menu-footer-copyright">&copy;<script>document.write(new Date().getFullYear());</script> Frame</div>
        </div>
        <div class="menu-ornament"></div>
      </div>
    </div>
  </header>

  <div id="content">
    <div class="a-pagepiling full-page">

      {{ partial "about.html" . }}

      {{ partial "resume.html" . }}

      {{ partial "portfolio.html" . }}

      {{ partial "references.html" . }}

    </div>
  </div>

  {{ partial "footer.html" . }}

  <div class="progress-nav">
    <ul id="menu">
      <li data-menuanchor="About" class="active"></li>
      <li data-menuanchor="Resume"></li>
      <li data-menuanchor="Portfolio"></li>
      <li data-menuanchor="Testimonials"></li>
    </ul>
  </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>window.jQuery || document.write('<script src="./assets/js/jquery.min.js"><\/script>')</script>
<script src="./assets/js/smoothscroll.js"></script>
<script src="./assets/js/popper.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/owl.carousel.min.js"></script>
<script src="./assets/js/jquery.pagepiling.min.js"></script>
<script src="./assets/js/jquery.viewport.js"></script>
<script src="./assets/js/jquery.countdown.min.js"></script>
<script src="./assets/js/typed.min.js"></script>
<script src="./assets/js/parallax.min.js"></script>
<script src="./assets/js/jquery.validate.min.js"></script>
<script src="./assets/js/script.js"></script>

</body>
{{ end }}
